.experience{
    color:#252A34;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: circle;
    margin-top:60px;
}
.lists{
     align-items: right;
    padding: 0;
    font-style: oblique;
    
}
.list{
    list-style-type: circle;
    margin: 8px;
    align-items: right;
    padding: 0;
}
